* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    overflow: hidden;
}

header {
    padding-top: 100px;
    overflow: hidden;
}

footer {
    background-color: #E9ECEE;
}

h1, h2, p, h3 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 37px;
    font-weight: 500;
    margin-left: 2rem;
}
 
h2 {
    font-size: 28px;
    letter-spacing: 0.6px;
    line-height: 35px;
    font-weight: 350;
    padding-bottom: 1rem;
}

h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 35px;
    font-weight: 500; 
}

p {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 24px;
    font-weight: 400;
}

p + .smallparagraph {
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 20px;
    font-weight: 400;
}

.desktop-text {
    display: none;
}

/* NAV */
nav {
    background-color: white;
    width: 100%;
    height: 25px;
    top: 0;
    padding: 25px 2rem 25px 2rem;
    z-index: 999;
    position: fixed;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

nav > a:active {
    text-decoration: underline;
}

/* HEADER */

.app-banner {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 9%;
    text-decoration: none;
}

.app-banner-image {
        width: 50vw;
        height: 75vw;
        background-size: cover;
        cursor: pointer;
}

.app-banner:nth-child(2) {
    margin-top: 6%;
}

.app-banner:nth-child(3) {
    flex-direction: row-reverse;
}

.app-banner:nth-child(2) .app-banner-image {
    background-image: url(img/frokostapp-frontpage.webp);
    background-position-x: right;
}

.app-banner:nth-child(3) .app-banner-image {
    background-image: url(img/frigo-frontpage.webp);
    background-position-x: left;
}

.app-banner-text {
    width: 37vw;
    color: black;
}

.app-banner-text > h2 p {
    width: 150%;
}

.arrow-large {
    margin-top: 15px;
    width: 2rem;
}

#read-more .arrow {
    margin-right: 0.5rem;
}

#read-more {
    display: flex;
    opacity: 50%;
    justify-content: center;
}

/* MAIN */

section {
    padding-top: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hover-container {
    position: relative;
    margin-top: 10%;
    margin-bottom: 100%;
}

.img-hovering {
    width: 90%;

}

.hover-container > .img-hovering:nth-child(1) {
    position: absolute;
    left: 50%;
    transform: translateX(-35%);
    z-index: 2;
}

.hover-container > .img-hovering:nth-child(2) {
    position: absolute;
    left: 50%;
    width: 75%;
    transform: translateX(-65%);
    z-index: 1;
    margin-left: -2rem;
}

/* every BODY hit the floor <- AKA BODY */


.alternative_text {
    display: none;
}
/* Checkliste part */

.checklist {
    display: flex;
    flex-direction: column;
    background-color: #aaba7d;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
    align-items: center;
}

.checklist h2{
    margin: 2rem;
    align-items: center;
}
.checklist p{
   margin-left: 2rem;
}
.checklist_images {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 96%; 
}
.checklist_img {
    width: 100%;
    margin-left: 2rem;
    height: auto;
    margin-top: -7rem;
    max-width: 80%;
}

.checklist_text {
    align-items: center;
    display: flex;
    padding: 0rem 0rem 1rem 0rem;
}

.checklist button {
    border-radius: 1000px;
    width: 8rem;
    padding: 10px 20px;
    border: none;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center; 
    cursor: pointer;}

    .checklist button:hover {
        cursor: pointer;
    }

    .checklist button:active {
        transform: scale(0.95); 
    }

/* MAIN brødtekst */

.body_text {
    display: flex;
    flex-direction: column;
}
.body_text h2 {
    margin-top: 1rem;
}
.main_text {
    margin-bottom: 4rem;
}

/* Mad-wrapper/slideshow */

.mad_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #aaba7d;
    color: white;
    overflow: hidden;
}

.slideshow-container {
    margin: auto;
    height: 550px;
}

.image-item {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-bottom: 2rem;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.prev, .next {
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
    margin: 0 10px;
    border-radius: 3px;
}

.prev img {
    width: 20px;
    height: 20px;
}

.next img {
    width: 20px;
    height: 20px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.breadcrumbs-container {
    text-align: center;
    margin-bottom: 2rem;
}

.breadcrumb {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.breadcrumb.active {
    background-color: #000000;
}

/*GUIDES FOR THE MIGHTY INTERESTED IN APPS*/
.guide_wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* QUOTES*/
 .quotes {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
 }

 .quotes h2 {
    align-self: flex-start;
    text-align: left;
    width: 96%;
}
 .all_quotes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
 }
 .profilbillede {
    border-radius: 1000px;
    width: 20%;
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
    margin: 1rem;
 }
 .quote_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
 }

 .quote_name {
    color:#a3a6a8
 }

/* Guide wrapper */
.guide_wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 2rem;
    margin-right: -2rem;
    margin-left: -2rem;
}

.slide-wrapper {
    overflow-x: scroll;
    display: flex;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.image-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

.slide-wrapper::-webkit-scrollbar {
    display: none;
}

.image-list {
    display: flex;
}

.image-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: fill;
    scroll-snap-align: start;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 40px;
    padding: 10px;
}

.image-item2 {
    width: 80%;
    height: auto;
    max-height: 50vh;
    object-fit: contain;
}

.image-caption {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


 /*KONTAKT FORMULAR YAHOOOOOOOOOOOOOOOOOOOOO*/
 .contact_formular{
    background: #DCF0F0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    overflow: hidden;
}
.contact_formular h2{
    padding-bottom: 0rem;
}

.contact_formular img{
    display: none;
}
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    margin-top: 0.25rem;
}

.contact-form label {
    margin-bottom: 5px;
    color: #04393B;
    font-family: "Space Grotesk", sans-serif;
}
#name {
    margin-top: 2rem;
}
#comments {
    background: white;
    border: none;
    padding-bottom: 5px;
}
#number {
    margin-bottom: 2rem;
}
.contact-form input, 
.contact-form textarea {
    margin-bottom: 1rem;
    background: #DCF0F0;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #04393B;
    box-sizing: border-box;
    width: 96%;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    outline: none;
    background-color: white;
}


.contact_formular #submit {
    padding: 10px 15px;
    background-color:  #DCF0F0;
    color:  #04393B;
    border: solid 2px #04393B;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100px;
    align-self: center;
}

#submit:active {
    transform: scale(0.95); 
}

input[required]::placeholder {
    color: #888;
}

input[required]::placeholder::before {
    content: attr(placeholder);
    color: #888;
}

.contact-form input.error::placeholder {
    color: white;
}


.contact-form input.error {
    color: black; 
}

.custom-alert-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-alert {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-alert p {
    margin-bottom: 20px;
    font-family: "Space Grotesk", sans-serif;
}

.custom-alert button {
    padding: 10px 20px;
    background-color: #04393B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
}

.custom-alert button:hover {
    background-color: #03616E;
}

/* FOOTER */
footer {
    padding-top: 3rem;
}

footer h2 {
    letter-spacing: -1.1px;
    line-height: 32.8px;
    padding-left: 2rem;
    padding-bottom: 0rem;
}

footer h3 {
    letter-spacing: -0.5px;
    line-height: 32.8px;
    margin-bottom: 0.3rem;
}
footer p {

    letter-spacing: -0.5px;
    line-height: 24px;
}

footer .arrow {
    margin-left: 0.5rem;
}

footer .logo {
    width: 90%;
    height: auto;
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.kontakt_tekst {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.kontakt_tekst2 {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#kontakt_tekst3 {
    padding-right: 5.5rem;
}

.kontakt_tekst4 {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#kontakt_link {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}


/* DESKTOP SECTION */

@media only screen and (min-width: 740px) { /* tablet*/
   
    h1 {
        font-size: 30px;
        line-height: 37px;
    }
     
    h2 {
        font-size: 28px;
        line-height: 35px;
    }
    
    p {
        font-size: 16px;
        line-height: 24px;
    }
    
    p + .smallparagraph {
        font-size: 14px;
        line-height: 20px;
    }

    /*checklist*/
    .body_text {
        flex-direction: row-reverse;
    }
    
    .checklist_img {
        width: 50%;
       padding-left: 20%;
    }
    .main_text {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /* FOOOTER */
    .kontakt_tekst {
        padding-right: 3.8rem;
    }

    .kontakt_tekst4 {
        flex-direction: row;
        padding-bottom: 1rem;
    }

    footer img{
        width: 50%;
    }

    #phone {
        padding-top: 3.9rem;
    }
    
    .quotes h2 {
        padding: 2rem;
    }

    /* Mad_wrapper */
    .image-item {
        width: 300px;
        float: left;
    }

    .h2-mad {
        width: 50%;
        float: right;
        margin-top: 5rem;
    }

    .p-mad {
        width: 50%;
        float: right;
    }

    .slideshow-container {
        height: 400px;
    }

    /* Guide_wrapper */

    .h2-guide {
        padding-left: 2rem;
    }

    .p-guide {
        padding-left: 2rem;
    }

    .image-container3 {
        display: flex;
        padding-right: 1.7rem;
        padding-left: 1.7rem
    }

    .image-container2 {
        margin: 15px;
    }
}

@media only screen and (min-width: 1023px) { /* small laptop*/
    p {
        font-size: 18px;
        line-height: 30px;
    } 

    h1 {
        font-size: 36px;
    }

    .desktop-text {
        display: block;
    }

    nav {
        padding: 25px 8rem 25px 8rem;
    }

    header {
        padding-top: 120px;
    }

    #frontpage section{
        padding-bottom: 100px;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    header > h1 {
        display: none;
    }

    .app-banner {
        gap: 7.5vw;
        margin-bottom: 0;
    }

    .app-banner:nth-child(2) {
        margin-top: 0;
    }
    
    .app-banner-image {
        width: 30vw;
        height: 40vw;
    }
    
    .app-banner-text {
        width: 25%;
    }
    
    .app-banner:nth-child(2) .app-banner-text {
        margin-bottom: 15%;
    }

    .app-banner:nth-child(3) .app-banner-text {
        margin-top: 5%;
    }

    .app-banner:nth-child(3) {
        flex-direction: row-reverse;
        margin-top: -30vw;
    }
    
    .app-banner h2 {
        font-size: 48px;
    }

    .app-banner p {
        font-size: 20px;
        line-height: 35px;
    }

    .concept {
        display: flex;
        flex-direction: row;
        gap: 5%
    }

    .section-text {
        width: 45%;
    }

    .hover-container {
        width: 40%;
        margin-top: 0;
        margin-bottom: 35%;
    }


    .competencies {
        background-color: #DCEDF5;
    }
    
    .kontakt_tekst {
        padding-right: 12rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #kontakt_tekst3 {
        padding-right: 14rem;
    }
    .kontakt_tekst2 {
        padding-top: 0rem;
    }

    footer {
        padding-left: 4rem;
        padding-right: 4rem; 
    }

    footer img {
        width: 40%;
        padding-bottom: 0rem;
       }

    #phone {
        padding-top: 2rem;
    } 
    
    .checklist_images {
        width: 20%;
        padding-left: 2rem;
    }

    .checklist_container {
        width: 50%;
    }
    
    .checklist {
        flex-direction: row-reverse;
        height: auto;
        padding: 5rem;
        padding-right: 15%;
        margin-top: 6rem;
        padding-bottom: 0rem;
        justify-content: space-between;
    }

    .checklist h2 {
       margin-left: 0rem; 
    }

    .checklist-text {
        width: 500px;
        padding-left: 0rem;
    }

    .checklist_img {
        width: 700px;
        max-width: 98%;
        margin-top: -10rem;
        padding-left: 0rem;
    }
    .mobile_text {
        display: none;
    }
    .alternative_text {
        display: flex;
    }

    /* Mad_wrapper */
    .image-item {
        width: 400px;
        float: left;
    }

    .h2-mad {
        width: 50%;
        float: right;
        margin-top: 7.5rem;
        padding-left: 4rem;
    }

    .p-mad {
        width: 50%;
        float: right;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    /* Guide_wrapper */
    .slide-wrapper {
        overflow-x: visible;
        flex-wrap: wrap;
        align-items: center;
    }

    .image-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-container2 {
        flex: 1 1 calc(25% - 30px);
        margin: 15px;
        box-shadow: none;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .image-container3 {
        display: none;
    }

    .image-caption {
        font-size: 18px;
        width: 75%;
    }

}
@media only screen and (min-width: 1439px) { /* medium laptop*/
   
    .checklist {
        padding-left: 8rem;
        padding-top: 2rem;
        align-items: flex-start;
    }
   
    .checklist-text {
        width: 100rem;
    } 

    .alternative_text {
        width: 60%;
        margin-bottom: 3rem;
    }

    .checklist_img {
        width: 600px;
        max-width: 98%;
        padding-left: 0rem;
    }

    .checklist_images {  
        display: flex;
       align-self: center;
       padding: 2rem;
       padding-right: 20%;
    }
    h1 {
        padding-left: 5rem;
    }

 .body_text {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    /*FOOOTER*/
    .kontakt_info {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-end; 
        margin-top: 10rem;
    }

    footer {
        padding-bottom: 3rem;
        padding-left: 5rem;
    }
   footer img {
    width: 100%;
   }
   .kontakt_tekst {
    padding-right: 2rem;
   }
   #kontakt_tekst3 {
    padding-right: 4rem;
}
    #phone {
        padding-right: 0rem;
    }

    .kontakt_tekst4 {
        order: 2;
        padding-bottom: 0rem;
    }
    .kontakt_tekst2 {
        order: 3;
        padding-bottom: 0rem;
    }
    #phone {
        
        padding-top: 2.3rem;
    }
    footer img {
        order: 1;
        
    }
    .kontakt_tekst {
        order: 4!important; 
        
    }
    
    .quotes {
        padding: 5rem;
    }
    .all_quotes {
        flex-direction: row;
    }
    .quote_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contact_formular{
        background: #DCF0F0;
        padding-bottom: 6rem;
        padding-top: 6rem;
        overflow: hidden;
    }

    /* Mad_wrapper */
    .image-item {
        width: 400px;
        float: left;
        padding-left: 5rem;
    }
    
    .h2-mad {
        width: 50%;
        float: right;
        margin-top: 7.5rem;
        padding-left: 4rem;
    }
    
    .p-mad {
        width: 50%;
        float: right;
        padding-right: 4rem;
        padding-left: 4rem;
    }
    
    /* Guide_wrapper */
    .slideshow-container {
        height: 400px;
    }
    
    .slide-wrapper {
        overflow-x: visible;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .image-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .image-container2 {
        flex: 1 1 calc(25% - 30px);
        margin: 15px;
        box-shadow: none;
        width: 400px;
    }
    
    .image-container3 {
        display: none;
    }

    .guide_wrapper {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .image-caption {
        font-size: 18px;
        width: 100%;
    }

}

@media only screen and (min-width: 1920px) { /* desktop */
    #read-more {
        margin-top: -2%;
    }

}