* {
    margin: 0;
    padding: 0;
}

body {

}

main {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #E9ECEE;
}

h1, h2, p, h3 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 37px;
    font-weight: 500;
}
 
h2 {
    font-size: 28px;
    letter-spacing: 0.6px;
    line-height: 35px;
    font-weight: 350;
}
h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 35px;
    font-weight: 500; 
}
p {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 24px;
    font-weight: 400;
}

p + .smallparagraph {
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 20px;
    font-weight: 400;
}


/* NAV */
nav {
    background-color: white;
    height: 24px;
    width: 100%;
    padding: 19px;
    padding-left: 146px;
    padding-right: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

nav > a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

nav > a:active {
    text-decoration: underline;
}


/* FOOTER */

footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 5rem;
}

footer h2 {
    letter-spacing: -1.1px;
    line-height: 32.8px;
}

footer h3 {
    letter-spacing: -0.5px;
    line-height: 32.8px;
    margin-bottom: 0.3rem;
}
footer p {
    letter-spacing: -0.5px;
    line-height: 24px;
}
footer .icon {
    margin-top: 0.3rem;
    padding-left: 1rem;
}
footer img {
    width: 90%;
    height: auto;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.kontakt_info {
    padding-bottom: 3rem;
}

.kontakt_tekst {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.kontakt_tekst2 {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#kontakt_tekst3 {
    padding-right: 5.5rem;
}

.kontakt_tekst4 {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#kontakt_link {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
}

/* DESKTOP SECTION */

@media only screen and (min-width: 740px) { /* tablet*/
   
    h1 {
        font-size: 30px;
        line-height: 37px;
    }
     
    h2 {
        font-size: 28px;
        line-height: 35px;
    }
    
    p {
        font-size: 16px;
        line-height: 24px;
    }
    
    p + .smallparagraph {
        font-size: 14px;
        line-height: 20px;
    }


    /* FOOOTER */
    .kontakt_tekst {
        padding-right: 3.8rem;
    }
    #phone {
        margin-top: 2.4rem;
    }
    .kontakt_tekst4 {
        flex-direction: row;
        padding-bottom: 1rem;
    }

    footer img {
        width: 50%;
    }
}

@media only screen and (min-width: 1023px) { /* small laptop*/
    .kontakt_tekst {
        padding-right: 12rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    #kontakt_tekst3 {
        padding-right: 14rem;
    }
    .kontakt_tekst2 {
        padding-top: 0rem;
    }

    footer {
        padding-left: 4rem;
        padding-right: 4rem; 
    }

    footer img {
        width: 40%;
        padding-bottom: 0rem;
       }
}
@media only screen and (min-width: 1439px) { /* medium laptop*/
    .kontakt_info {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-end; 
    }


   footer img {
    width: 20%;
    padding-bottom: 0rem;
   }
}
@media only screen and (min-width: 1919px) { /* medium laptop*/
    
}